<h2>{{titre}}</h2>

<form id="form-auth">
	<label>
		Courriel:
		<input type="text" id="input-identifiant">
	</label>
	<label>
		Mot de passe:
		<input type="password" id="input-mot-passe">
	</label>
	<input type="submit" value="{{bouton}}">
	<div id="form-erreur" class="erreur"></div>
</form>